<!DOCTYPE html>
<html lang = "en" ng-app = "contactBook">
    <head>
        <meta charset = "utf-8">
        <title>Phone catalog</title>
        <link rel="stylesheet" href="src/style.css">
        <script src="src/scripts/angular/angular.js"></script>
        <script src="scr/scripts/app.js"></script>
    </head>
    <body ng-controller="MyListController"> 
        <!-- как должны писаться значения директив? с большой буквы и camel кейсом? -->
        <form action="#" ng-form="MyForm">
            <input type="text" ng-model="query">
        </form>
        <table class="phone-table">
            <tr><th>Name</th><th>Phone</th></tr>
            <tr ng-repeat="person in persons | filter:query">
                <td>{{person.name}}</td><td>{{person.pnumber}}</td>
            </tr>
        </table>
    </body>
</html>