    <div class="wrap">
        <div class="list-field">
            <form class="input-form" action="#">
                <input type="text" ng-model="query" placeholder="enter GitHub user you want to find...">
                <!--c маленькой буквой,т.к. property-->
            </form>
                <!--переделать на тайлики-->
            <div class="phone-table">
                    <figure ng-repeat="user in ghUsers | filter:query" >
                        <div class="userimg" ><img class="icon" ng-src="{{user.avatar_url}}" alt=""></div>
                        <div class="name">{{user.login}}</div>
                        <a class="url" href="{{user.url}}">See {{user.login}}'s profile on GitHub</a>
                        <a class="url" ui-sref-active="active" ui-sref="userdetail({{user.login}})">See details about this user</a>                       
                    </figure>
            </div>
        </div>
    </div>

