<div>
    <div class="wrap">
        <div class="list-field">
            <form class="input-form" action="#">
                <input type="text" ng-model="query" placeholder="enter GitHub user you want to find...">
                <!--c маленькой буквой,т.к. property-->
            </form>
                <!--переделать на тайлики-->
            <div class="phone-table">
                <table>
                    <tr ng-repeat-start="user in ghUsers | filter:query" >
                        <td class="userimg" rowspan="2"><img class="icon" ng-src="{{person.avatar_url}}" alt=""></td>
                        <td class="name">{{person.login}}</td>
                    </tr>
                    <tr ng-repeat-end>
                        <td class="url"><a href="{{person.url}}">GH link...</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
